.app-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.appstore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 1110px;
}
.title {
  font-family: 'Bree Serif';
  color: #1e293b;
  font-size: 40px;
  margin-top: 64px;
  margin-bottom: 48px;
}
.search-container {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: transparent;
  width: 100%;
  max-width: 250px;
  border-radius: 4px;
  border: 1px solid #7b8794;
  padding: 8px 16px;
}
.search-box {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  outline: none;
  border: none;
  flex-grow: 1;
  
}
.search-icon {
  width: 24px;
  height: 24px;
}
.tab-list-container {
  display: flex;
  align-items: flex-end;

  
}
.app-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
