.tab-item{
  list-style-type: none;
}
.app-list-item {
  list-style-type: none;
  background-color: #fff;
  border-radius: 12px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  max-width: 128px;
  width: 45%;
}
.app-image {
  width: 70px;
  height: 70px;
}
.app-name {
  font-family: 'Bree Serif';
  color: #1e293b;
  font-size: 16px;
}
